.DS_Store
paper.log
R/scratch.R
refs/iisystem.dat
refs/microstatessystem.dat

**/*.html
**/*.pdf
**/*.tex
**/*.RData
**/*.rds
**/*.Rhistory
**/*.tar.gz
**/\#*\#

**/*.Rcheck/

build/
cmdstan/
data/
docs/
replications/
plots/
posteriors/

packrat/lib*/
