.DS_Store
R/scratch.R
refs/iisystem.dat
refs/microstatessystem.dat

**/*.html
**/*.pdf
**/*.RData
**/*.rds
**/*.Rhistory
**/*.tar.gz
**/\#*\#

**/*.Rcheck/

data/
docs/
replications/
plots/
posteriors/

packrat/lib*/
